{% extends "camp/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
    <h1 class="my-4">Recreation Areas</h1>
    
    <!-- Search Form -->
    <form method="GET" action="{% url 'show_parks' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search by park name" value="{{ search_query }}" style="width: 200px;">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="margin-left: 10px;">Search</button>
            </div>
        </div>
    </form>

    <!-- Parks Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for park in parks %}
            <tr>
                <td>{{ park.id }}</td>
                <td>{{ park.name }}</td>
                <td>{{ park.latitude }}</td>
                <td>{{ park.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}